.Header {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  color:black;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.Header h1 {
  margin: 0;
}